<%= form_for @pokedex do |f| %>
    <div class="row form-header">
        <h2 class="mx-auto"><%= yield(:title) %></h2>
    </div>
    <%= render 'layouts/error_messages', object: @pokedex %>
    <div class="form-row form-group">
        <div class="col-2">
            <%= f.label :name, class: "col-form-label" %>
        </div>
        <div class="col-10">
            <%= f.text_field :name, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row form-group">
        <div class="col-2">
            <%= f.label :base_health_point, class: "col-form-label" %>
        </div>
        <div class="col-10">
            <%= f.number_field :base_health_point, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row form-group">
        <div class="col-2">
            <%= f.label :base_attack, class: "col-form-label" %>
        </div>
        <div class="col-10">
            <%= f.number_field :base_attack, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row form-group">
        <div class="col-2">
            <%= f.label :base_defence, class: "col-form-label" %>
        </div>
        <div class="col-10">
            <%= f.number_field :base_defence, class: 'form-control' %>
        </div>
    </div>
    
    <div class="form-row form-group">
        <div class="col-2">
            <%= f.label :base_speed, class: "col-form-label" %>
        </div>
        <div class="col-10">
            <%= f.number_field :base_speed, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row form-group">
        <div class="col-2">
            <%= f.label :element_type, class: "col-form-label" %>
        </div>
        <div class="col-10">
            <%= f.select :element_type, ['normal', 'fire', 'fighting', 'water', 'flying', 'grass', 'poison', 'electric', 
                'ground', 'psychic', 'rock', 'ice', 'bug', 'dragon', 'ghost', 'dark', 'steel', 'fairy'], {}, class: "form-control" %>
        </div>
    </div>
    
    <div class="form-row form-group">
        <div class="col-2">
            <%= f.label :image_url, class: "col-form-label" %>
        </div>
        <div class="col-10">
            <%= f.url_field :image_url, class: 'form-control' %>
        </div>
    </div>

    <div class="row form-footer">
        <%= f.submit yield(:button), class: "btn btn-primary btn-block", :style => 'margin-top: 14px' %>
    </div>
<% end %>