<div class="container-fluid">
    <div class="clearfix">
        <h2>Pokedex</h2>
        <%= link_to "New Pokemon", new_pokedex_path, class: "btn btn-primary float-right"%>
    </div>

    <table class="table table-bordered" style= "margin-top:10px">
        <thead>
            <tr class="d-flex">
                <th class="col-3 text-center">Name</th>
                <th class="col-3 text-center">Element</th>
                <th class="col-3 text-center">Image</th>
                <th class="col-3 text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <% @pokedexes.each do |pokemon| %>
                <tr class="d-flex">
                    <td class="col-3 text-center"><%= pokemon.name %></td>
                    <td class="col-3 text-center"><%= pokemon.element_type %></td>
                    <td class="col-3 text-center"><%= image_tag pokemon.image_url, size: "50x50" %></td>
                    <td class="col-3 text-center">
                    <%= link_to "Show", pokedex_path(pokemon), class: "btn btn-info"%>
                    <%= link_to "Delete", pokedex_path(pokemon), method: :delete,
                                    data: { confirm: "You sure?" }, class: "btn btn-danger"%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="clearfix">
        <%= will_paginate @pokedexes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "float-right" %>
    </div>
</div>