<div class="container">
    <div class="card border-primary" style="margin-top: 15px; margin-bottom: 20px">
        <%= form_for @pokemon do |f| %>
        <div class="card-header bg-primary text-white text-center">Edit Pokemon</div>
        
        <div class="card-body">
            <%= render 'layouts/error_messages', object: @pokemon %>
            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :name, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :max_health_point, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :max_health_point, class: 'form-control' %>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :current_health_point, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :current_health_point, class: 'form-control' %>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :attack, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :attack, class: 'form-control' %>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :defence, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :defence, class: 'form-control' %>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :speed, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :speed, class: 'form-control' %>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :level, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :level, class: 'form-control', disabled: true %>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :current_experience, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :current_experience, class: 'form-control',disabled: true %>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :pokedex_id, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :pokedex_id, class: 'form-control', disabled: true, value: @pokemon.pokedex.name %>
                </div>
            </div>
        </div>
        
        <div class="row card-footer">
            <%= f.submit "Update", class: "btn btn-primary btn-block" %>
        </div>
    <% end %>
</div>