<div class="container">
    <div class="card border-primary" style="margin-top: 15px; margin-bottom: 20px">
        <%= form_for @trainer do |f| %>
        <div class="card-header bg-primary text-white border-primary">
            <div class="text-center">Edit Trainer</div>
        </div>
        <div class="card-body">
            <%= render 'layouts/error_messages', object: @trainer %>
            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :name, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
            </div>

            <div class="form-row form-group">
                <div class="col-2">
                    <%= f.label :email, class: "col-form-label" %>
                </div>
                <div class="col-10">
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="row card-footer">
            <%= f.submit "Update", class: "btn btn-primary btn-block", :style => 'margin-top: 14px' %>
        </div>
        <% end %>
    </div>
</div>