<div class="container">
    <div>
        <%= link_to "New Trainer", new_trainer_path, class: "btn btn-primary"%>
    </div>

    <div class="card" style="margin-top: 15px; margin-bottom: 20px">
        <div class="card-header bg-primary border-primary text-white">Trainers</div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr class="d-flex">
                        <th class="col-4 text-center">Name</th>
                        <th class="col-4 text-center">Email</th>
                        <th class="col-4 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @trainers.each do |trainer| %>
                        <tr class="d-flex">
                            <td class="col-4 text-center"><%= trainer.name %></td>
                            <td class="col-4 text-center"><%= trainer.email %></td>
                            <td class="col-4 text-center">
                            <%= link_to "Show", trainer_path(trainer), class: "btn btn-info"%>
                            <%= link_to "Delete", trainer_path(trainer), method: :delete,
                                            data: { confirm: "You sure?" }, class: "btn btn-danger"%>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="clearfix card-footer">
            <%= will_paginate @trainers, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "float-right" %>
        </div>
    </div>
</div>